# macOS
.DS_Store
.DS_Store?
**/.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
app

# Test binary, built with `go test -c`
*.test

# Dependencies
vendor/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
